<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataPath" value="/Files"/>
    <add key="DbType" value="1" />
    <add key="LogEnable" value="1" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ANYWELL_DB" connectionString="server=AOFEI-PC\SQLEXPRESS;database=AnyWell2011;uid=aofei;pwd=aofei" />-->
  </connectionStrings>
  <system.web>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" />
    <compilation debug="true">
    </compilation>
    <pages enableEventValidation="false" validateRequest="false">
      <controls>
        <add assembly="Studio" namespace="Studio.Web" tagPrefix="sw"/>
        <add assembly="AW_UC" namespace="AnyWell.AW_UC" tagPrefix="aw"/>
      </controls>
    </pages>
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
