<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DbType" value="1" />
    <add key="SiteID" value="33" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ANYWELL_DB" connectionString="server=AOFEI-PC\SQLEXPRESS;database=AnyWell2011;uid=aofei;pwd=aofei" />-->
    <add name="ANYWELL_DB" connectionString="server=114.80.110.28,3456;database=anywell;uid=anywell;pwd=anywell2011" />
  </connectionStrings>
    <system.web>
        <compilation debug="true">
        </compilation>
        <authentication mode="Windows" />
      <pages enableEventValidation="false" validateRequest="false">
        <controls>
          <add assembly="AW_UC" namespace="AnyWell.AW_UC" tagPrefix="aw"/>
        </controls>
      </pages>
    </system.web>
</configuration>
