<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DbType" value="1" />
    <add key="SiteID" value="8" />
  </appSettings>
  <connectionStrings>
    <add name="ANYWELL_DB" connectionString="server=AOFEI-PC\SQLEXPRESS;database=AnyWell2011;uid=aofei;pwd=aofei" />
  </connectionStrings>
    <system.web>
        <compilation debug="true">
        </compilation>
        <authentication mode="Windows" />
    </system.web>
</configuration>
