<?xml version="1.0" encoding="utf-8" ?> 
<urls>
  <rewrite name="category"
       path="/category-{0}"
       pattern = "/category-(\w+)"
       page="~/category.aspx"
       querystring="categoryid=$1" />
  <rewrite name="brand"
       path="/brand-{0}"
       pattern = "/brand-(\w+)"
       page="~/brand.aspx"
       querystring="brandid=$1" />
  <rewrite name="goods"
       path="/goods-{0}"
       pattern = "/goods-(\d+)*"
       page="~/goods.aspx"
       querystring="goodid=$1" />
  <rewrite name="help"
       path="/help-{0}"
       pattern = "/help-(\d+)*"
       page="~/help.aspx"
       querystring="helpid=$1" />
  <rewrite name="newslist"
       path="/newslist-{0}"
       pattern = "/newslist-(\w+)"
       page="~/newslist.aspx"
       querystring="columnid=$1" />
  <rewrite name="news"
       path="/news-{0}"
       pattern = "/news-(\d+)*"
       page="~/news.aspx"
       querystring="newsid=$1" />
</urls>