body,h1,h2,h3,h4,h5,h6,ul,ul li,form,p,img,dl,dt,dd,table,th,td,img{margin:0;padding:0;border:0;}
ul,ul li{list-style:none;}
input,.button{margin:0;padding:0;font-size:12px;}
body{background:url(../images/loginbg.jpg) 0 -140px #d6e4ed;margin:0;padding:0;font-size:12px;font-family:"ו",sans-serif;}
a{color:#06c;}
a:hover{color:#c00;}

.pbd{width:1004px;height:500px;margin:0 auto;}
.logo{position:absolute;top:210px;left:80px;}
.logo h1{float:left;margin-right:5px;margin-bottom:10px;}
.logo .version{margin-top:-10px;font:bold 14px verdana,sans-serif;color:#f60;}
.logo .msg{clear:both;padding:0 0 0 25px;margin-left:25px;font-weight:bold;line-height:25px;}
.logo .msg li{list-style:disc;}
.logo .msg li.hot{color:#f60;font-size:14px;}
form{position:absolute;top:212px;left:456px;width:355px;height:232px;padding:50px 0 0 50px;background:url(../images/loginform.png) #e8e8e8 no-repeat;}
form .item{clear:both;margin-bottom:10px;height:20px;}
form .item .inputBox{background:url(../images/logininput.gif) 0 0 no-repeat #fff;height:20px;width:193px;padding-left:3px;}
form .item.i2 .inputBox{background-position:0 -20px;width:60px;}
form .item .err{background-position:0 -40px;}
form .item.i2 .err{background-position:0 -60px;}
form .item label,
form .item .inputBox,
form .item .forget{float:left;}
form .item label{width:4em;text-align:right;margin-right:12px;line-height:20px;color:#666;}
form .item input.text{background:0;border:0;width:185px;margin:3px 0 0 3px;font-family:verdana,sans-serif;}
form .item .forget{position:relative;margin:1px 0 0 10px;font-size:12px;font-family:verdana,sans-serif;border-bottom:1px dashed;padding-bottom:2px;cursor:help;}
form .item .forget p{display:none;position:absolute;left:0;top:20px;width:210px;background:#FDFCF0;padding:8px;border:1px solid #ccc;line-height:16px;}
form .item .forget:hover p{display:block;}
form .item .forget p em{font-style:normal;font-weight:bold;}
form .item.i2 input.text{width:45px;margin-right:10px;}
form .item.i2 img{border:1px solid #666;vertical-align:middle;}
form .ctrl{padding-left:58px;margin-top:20px;}
form .ctrl .button{width:198px;height:30px;cursor:pointer;background:url(../images/loginbtn.gif) no-repeat;border:0;font-size:14px;color:#fff;font-weight:bold;}
form .ctrl .button:hover{background-position:0 -30px;}