@charset "utf-8";
/*
Classtyle (X)HTML&CSS Framework
v0.8.4
*/

/* Classtyle_Reset
================================================================================================= */
h1,h2,h3,h4,h5,h6,ul,ol,li,form,p,dl,dt,dd,table,th,td,img,blockquote{margin:0;padding:0;border:0;}
body{font-size:12px;background:#fff;}
li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
input.text{height:15px;padding:1px;margin:0;}
input.file{height:22px;}
input.button,
button{line-height:135%;padding:0 4px;}
select,
input,
button{vertical-align:middle;}
.radio input,
.checkbox input,
input.radio,
input.checkbox{width:16px;height:16px;margin:0 3px 0 0;overflow:hidden;}
button img{vertical-align:middle;}
br.clear{clear:both;height:1px;line-height:0;font-size:0;overflow:hidden;}

.imgTxt{text-indent:-999px;overflow:hidden;outline:0;background:center center no-repeat;}

.phd,.pbd,.pft,.region{clear:both;overflow:hidden;display:inline-block;}
[class~="phd"],[class~="pbd"],[class~="pft"],[class~="region"]{display:block;}

.phd:after,
.pbd:after,
.pft:after,
.region:after{clear:both;content:"";display:block;height:0;overflow:hidden;visibility:hidden;}

/* Classtyle_Containers
================================================================================================= */
/* 模块(Mod)
--------------------- */
.Mod{line-height:20px;}
.mhd,
.mbd,
.mft{overflow:hidden;display:inline-block;}
[class~="mhd"],
[class~="mbd"],
[class~="mft"]{display:block;}
.mhd{line-height:normal;}
.mft{line-height:normal;}
.mhd:after,
.mbd:after,
.mft:after{clear:both;content:"";display:block;height:0;overflow:hidden;visibility:hidden;}

	/* 模块_列表(Mod List)
	--------------------- */
	.List{}

		/* 模块_列表_文章列表(Mod List Articles)
		--------------------- */
		.Articles .mbd ul,
			body .pbd .pubArticles{overflow:hidden;display:inline-block;}
		.Articles [class~="mbd"] ul,
			body .pbd [class~="pubArticles"]{display:block;}
		.Articles .mbd li,
			body .pbd .pubArticles li{float:left;width:100%;}
		.Articles .public li{float:none;width:auto;}
		.Articles .mbd li a,
			body .pbd .pubArticles li a{float:left;}
		.Articles .public li a{float:none;}
		.Articles .mbd li span,
			body .pbd .pubArticles li span{float:right;text-align:right;white-space:nowrap;}
		.Articles .public li span{float:none;width:auto;text-align:left;white-space:normal;}

		.Articles .hasFocus .focus{margin:5px 10px;float:left;clear:none;text-align:center;}
		.Articles .hasFocus .focus a{display:block;}
		.Articles .hasFocus .focus img{display:block;}
		.Articles .hasFocus .focus strong{display:block;text-align:center;}

	/* 模块_摘要列表(Mod SummaryList)
	--------------------- */
	.SummaryList .pic img,
		body .pbd .pubSummaryList .pic img{display:block;}
	.SummaryList .info li,
		body .pbd .pubSummaryList .info li{display:inline;}
	.SummaryList .public .info li{display:block;}

	/* 模块_数据列表(Mod DataList)
	--------------------- */
	.DataList table,
		body .pbd .pubDataList{width:100%;}

	/* 模块_照片列表(Mod PhotoList)
	--------------------- */
	.PhotoList .mbd ul,
		body .pbd .pubPhotoList{overflow:hidden;display:inline-block;}
	.PhotoList [class~="mbd"] ul,
		body .pbd [class~="pubPhotoList"]{display:block;}
	.PhotoList .item,
		body .pbd .pubPhotoList .item{float:left;display:inline;text-align:center;overflow:hidden;}
	.PhotoList .public .item{float:none;display:block;text-align:left;overflow:visible;}
	.PhotoList .item a,
		body .pbd .pubPhotoList .item a{cursor:pointer;display:block;}
	.PhotoList .public .item a{display:inline;}
	.PhotoList .item a img,
		body .pbd .pubPhotoList .item a img{display:block;margin:0 auto 5px;}
	.PhotoList .public .item a img{display:inline;margin:0;}
	.PhotoList .item a strong,
		body .pbd .pubPhotoList .item a strong{display:block;overflow:hidden;}
	.PhotoList .public .item a strong{display:inline;overflow:visible;}
	.PhotoList .item a span,
		body .pbd .pubPhotoList .item a span{display:block;overflow:hidden;}
	.PhotoList .public .item a span{display:inline;overflow:visible;}
	.PhotoList .info li,
		body .pbd .pubPhotoList .info li{overflow:hidden;float:none;}
	.PhotoList .public .info li{display:block;overflow:visible;}
	.PhotoList .info a,
		body .pbd .pubPhotoList .info a{display:inline;}


	/* 模块_照片展示(Mod PhotoGallery)
	--------------------- */
	.PhotoGallery{}

	/* 模块_表单(Mod Form)
	--------------------- */
	.Form label,
		body .pbd .pubForm label{float:left;margin-right:-3px;}
	[class~="Form"] label,
		body .pbd [class~="Form"] label{margin-right:0;}
	.Form .public label{float:none;margin:0;}
	.Form label.inlineLabel,
	.Form label.radio,
	.Form label.checkbox,
	.Form label.select,
	.Form span.radio label,
	.Form span.checkbox label,
	.Form .select label,
		body .pbd .pubForm label.radio,
		body .pbd .pubForm label.checkbox,
		body .pbd .pubForm label.select,
		body .pbd .pubForm span.radio label,
		body .pbd .pubForm span.checkbox label,
		body .pbd .pubForm .select label{display:inline;float:none;width:auto;padding:0;line-height:19px;}
	.Form .fi,
		body .pbd .pubForm .fi{overflow:hidden;display:inline-block;}
	.Form [class~="fi"],
		body .pbd .pubForm [class~="fi"]{display:block;}
	.Form .fi .cont,
		body .pbd .pubForm .fi .cont{float:left;padding-left:3px;}
	.Form .fi [class~="cont"],
		body .pbd .pubForm .fi [class~="cont"]{padding-left:0;}

	/* 模块_正文(Mod Detail)
	--------------------- */
	.Detail{}

		/* 模块_正文_文章(Mod Detail Article)
		--------------------- */
		.Article .info li{display:inline;}

	/* 模块_图片(Mod Pic)
	--------------------- */
	.Pic img{display:block;margin:0 auto;}

	/* 模块_广告(Mod Adv)
	--------------------- */
	.Adv{}

	/* 模块_Flash(Mod Flash)
	--------------------- */
	.Flash{}

	/* 选项卡(Tab)
	--------------------- */
	.Tab .mhd h3{display:none;}
	.Tab .mhd li{float:left;}
		body .pbd .pubTabs{overflow:hidden;display:inline-block;}
		body .pbd [class~="pubTabs"]{display:block;}
		body .pbd .pubTabs li{float:left;}

/* 标识(Logo)
--------------------- */
.Logo{}

/* 导航(Nav)
--------------------- */
.Nav{}

/* 面包屑(Location)
--------------------- */
.Location{}

/* 版权(Mod Copyright)
--------------------- */
.Copyright{}

/* Classtyle_Publics
================================================================================================= */
/* 输出ul，ol等默认样式(pubOutput)
--------------------- */
body .pbd .pubOutput{line-height:1.6em;}
body .pbd .pubOutput ul,
body .pbd .pubOutput ol{margin-left:12px;padding-left:12px;}
body .pbd .pubOutput ul li{list-style:disc;}
body .pbd .pubOutput ol li{list-style:decimal;}
body .pbd .pubOutput td,
body .pbd .pubOutput th{border:1px solid;padding:0 5px;}

/* 分页(pubPage)
--------------------- */
body .pbd .pubPage{text-align:center;line-height:25px;clear:both;}
body .pbd .pubPage li{display:inline;float:none;background-image:none;}
body .pbd .pubPage li a{padding:0 3px;width:auto;float:none;background-image:none;}
body .pbd .pubPage li input.text{width:3em;}