@charset "utf-8";
/*
 * Name : 华纺
 * By : Zhaoxue zx@cswui.com 2011-06
 */

/*Classtyle2.0.0.beta 0415*/
html{-overflow-y:scroll}body{color:#888;background:#fff;font-size:12px;line-height:1.666;-webkit-text-size-adjust:none}body,textarea{font-family:"Microsoft YaHei",arial,"\5B8B\4F53"}body,h1,h2,h3,h4,h5,h6,ul,ol,li,form,p,dl,dt,dd,blockquote,legend,table,th,td,fieldset,menu,pre{margin:0;padding:0}table,th,td,img,fieldset{border:0}address,cite,em,code,var,dfn,ins,i,th,caption{font-style:normal;text-decoration:none}h1,h2,h3,h4,h5,h6,th{font-size:100%;font-weight:normal}input,select,button,textarea,table{margin:0;padding:0;font-family:inherit;font-size:100%}abbr,acronym{border:0;font-variant:normal}q:before,q:after{content:""}ul,ol{list-style:none}table{border-collapse:collapse;border-spacing:0}th,caption{text-align:left}.cs-header,.cs-body,.cs-footer,.cs-section,.cs-part,.cs-group,.cs-mod,.cs-mod_hd,.cs-mod_bd,.cs-mod_ft,.cs-clear{+zoom:1}.cs-header:before,.cs-body:before,.cs-footer:before,.cs-section:before,.cs-part:before,.cs-group:before,.cs-mod:before,.cs-mod_hd:before,.cs-mod_bd:before,.cs-mod_ft:before,.cs-clear:before,.cs-header:after,.cs-body:after,.cs-footer:after,.cs-section:after,.cs-part:after,.cs-group:after,.cs-mod:after,.cs-mod_hd:after,.cs-mod_bd:after,.cs-mod_ft:after,.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden}.cs-fl{float:left;display:inline}.cs-fr{float:right;display:inline}.cs-tl{text-align:left}.cs-tc{text-align:center}.cs-tr{text-align:right}.cs-noime{ime-mode:disabled}.cs-label,.cs-ib{display:inline-block;+display:inline;+zoom:1;vertical-align:middle}.cs-hideText{line-height:9999px!important;overflow:hidden;font-size:0!important}.cs-br{word-break:break-all;word-wrap:break-word}.cs-nobr{white-space:nowrap}.cs-qmode *,.cs-qmbox{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.cs-qmode td{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}.cs-ellipsis{height:1.666em;overflow:hidden;+white-space:nowrap;+text-overflow:ellipsis}.cs-ellipsis_text{position:relative;padding-right:1em;max-height:200%;overflow:hidden;+white-space:nowrap;+text-overflow:ellipsis}.cs-ellipsis_text:after{content:"...";font-family:tahoma;display:inline;position:absolute;right:0;bottom:1.666em}.cs-check input,input.cs-check{width:16px;height:16px;padding:0;margin:0;overflow:hidden;vertical-align:middle}.cs-select,.cs-input,.cs-button,.cs-label{margin-right:.3em;vertical-align:middle}.cs-label{white-space:nowrap;-zoom:1}.cs-label .cs-check{margin-right:3px;-vertical-align:baseline}.cs-button{line-height:inherit;+line-height:1.3;padding:0 1em;+overflow:visible;cursor:pointer}.cs-input{width:12em;padding:.22em 0;height:1em;line-height:1em}.cs-page-wide{width:950px}.cs-page-narrow{width:790px}.cs-txt-serif,.cs-txt-song,.cs-txt-chn{font-family:"\5B8B\4F53"}.cs-txt-sans,.cs-txt-a,.cs-txt-eng{font-family:arial}.cs-txt-t,.cs-txt-chnEng{font-family:tahoma}.cs-txt-v{font-family:verdana}.cs-txt-monospace,.cs-txt-c,.cs-txt-code{font-family:consolas,"Courier New",monospace}.cs-txt-hei{font-family:"\9ED1\4F53"}.cs-txt-yh{font-family:"\5FAE\8F6F\96C5\9ED1",arial}.cs-txt-xs{font-size:10px!important}.cs-txt-s{font-size:12px!important}.cs-txt-m{font-size:14px!important}.cs-txt-l{font-size:16px!important}.cs-txt-xl{font-size:20px!important}.cs-txt-b{font-weight:bold!important}.cs-txt-u{text-decoration:underline!important}.cs-txt-i{font-style:italic!important}.cs-txt-del{text-decoration:line-through!important}.cs-txt-mark,.cs-txt-succ{color:#090}.cs-txt-impt,.cs-txt-err{color:#c00}.cs-txt-tips{color:#666}.cs-txt-disabd{color:#999}a.cs-txt-disabd{text-decoration:none;cursor:default}.cs-txt-dft{font-weight:normal!important;text-decoration:none!important;font-style:normal!important}

/*site-nav*/
.site-nav{background:#e6e6e6;height:30px}
.site-nav .con{position:absolute;top:5px;_top:4px;left:50%;width:490px}
.site-nav p{float:left;padding-left:10px}
.con-login{text-align:right}
.con-login a{padding:0 8px}
.ipt-simple,
.btn-simple{background:#fff;border:#a1a1a1 solid 1px;margin-left:3px;}
.ipt-simple{padding:1px;height:17px;width:130px}
.btn-simple{width:34px;float:left;_display:inline;text-align:center}
button.btn-simple{height:21px;_height:22px}
.btn-simple:hover{color:#5cb7c0}
.btn-simple:active{background:#eee}

/*masthead*/
.masthead{background:url(../img/masthead.gif) no-repeat right;height:68px;margin:10px auto 8px;width:980px}
.logo{background:url(../img/logo.gif) no-repeat center top;width:126px;height:64px;display:block;line-height:500em;overflow:hidden;padding:0 10px}

/*nav*/
.nav{background:#898989;height:26px;}
.nav-con{width:986px;margin:0 auto;overflow:hidden;_width:986px;}
.nav-list{width:1200px;margin-left:-12px;height:26px;overflow:hidden}
.nav-list li{float:left;}
.nav-list a{color:#fff;font-size:14px;text-align:center;width:112px;float:left;height:26px;float:left;_display:inline;margin-left:-11px;_margin-left:0;_width:100px;line-height:1.7em;}
.nav-list .nav-special a{background:url(../img/nav-special.png) no-repeat;_background:url(../img/nav-special.gif) no-repeat/*_background:#60bac3*/}
.nav-list a:hover{background:url(../img/nav-on.png) no-repeat;color:#000;_background:url(../img/nav-on.gif) no-repeat/*_background:#666*/}
.nav-list .on a{color:#000;background:url(../img/nav-on.png) no-repeat;_background:url(../img/nav-on.gif) no-repeat/*_background:#fff*/}
.subNav{height:25px;padding:4px 0 0;width:1006px;margin:0 auto}
.subNav div{display:none}
.subNav a{color:#000;padding:0 10px}
.subNav a:hover{color:#5cb7c0}
/*nav for ie6*/
.nav-list a{_width:100px;_margin-left:0}
.nav-list .nav-special a{_background:#60bac3}
.nav-list a:hover{_background:#666}
.nav-list .on a{_background:#fff}

#navC_navT_4,
#navC_navT_5,
#navC_navT_6,
#navC_navT_7{text-align:center}

#navC_navT_8,
#navC_navT_9,
#navC_navT_10{text-align:right}


/*BannerPic*/
.BannerAD{background:#62c3cc;height:375px;margin-bottom:62px}
.BannerPic{width:986px;margin:0 auto;height:375px;position:relative}
/*.BannerSlide{position:absolute;width:986px;height:375px;top:0;left:0;cursor:pointer}*/
.BannerSlide img{width:690px;height:375px;float:left}
.BannerSlide_tit{width:235px;color:#fff;float:right;margin:60px 30px 0 0;_display:inline}/*position:absolute;right:30px;top:60px*/
.BannerSlide_tit h2{font-size:18px;line-height:24px;padding-bottom:10px}
.BannerTab,.thumbNav{position:absolute;left:1px;bottom:-55px;_bottom:-56px;background:#eee url(../img/BannerTab.png) repeat-x}
.thumbNav li{float:left}
.BannerTab li,.thumbNav li a{float:left;height:54px;width:196px;border:#898989 solid;border-width:0 1px 1px;margin-left:-1px;_display:inline;position:relative;cursor:pointer}
.BannerTab li span,.thumbNav li span{position:absolute;bottom:8px;width:172px;padding-right:10px;left:10px}
.BannerTab li.hover,.thumbNav a.cur{background:#51b3bc url(../img/BannerTab-hover.png) repeat-x;color:#fff}
.anythingWindow{position:relative;overflow:hidden;width:986px;height:375px}
.anythingSlider-default{overflow:hidden;height:375px}
#slider2{height:375px;width:986px;position:absolute;overflow:hidden;}
#slider2 li{float:left;height:375px;width:986px;overflow:hidden;float:left}
#slider2 li a{height:375px;width:986px;float:left}
.arrow{cursor:pointer;height:375px;width:30px;display:block;position:absolute;top:0;overflow:hidden;line-height:1000em;z-index:100}
.forward{background:url(../img/forward.png) no-repeat center;_background:url(../img/forward.gif) no-repeat center 160px;right:0}
.back{background:url(../img/back.png) no-repeat center;_background:url(../img/back.gif) no-repeat center 160px;left:0}
.start-stop{position:absolute;bottom:5px;right:30px;color:#000}
.start-stop:hover{color:#fff}

/*title-bar*/
.title-bar{border-bottom:#000 5px solid;width:100%;margin:0 auto 10px;padding-bottom:2px;line-height:36px;overflow:hidden}
.title-bar h2{width:100%;border-bottom:#000 solid 1px;height:38px;overflow:hidden}
.title-ch{padding-top:5px;margin-left:-10px}
.title-ch span{font-size:14px;color:#000;padding:0 10px}
.title-ch a{color:#000;font-size:14px}
.title-ch a:hover{color:#5cb7c0}
.title-ch2{padding-top:0}
.title-ch3 a{font-size:14px}
.title-ch .title-size1{font-size:24px}
.title-ch a{padding:0 10px}
.title-eng{font-family:"DilleniaUPC","Courier New";font-size:36px;font-style:italic;padding-right:10px}
.title-eng span{color:#62c3cc}
.title-bar2{border:0;}
.title-bar .Pagination{margin-top:10px}

/*title-sub*/
.title-sub{border:#000 solid;border-width:1px 0;color:#000;height:24px;line-height:25px;width:100%;margin:0 auto 10px;overflow:hidden}
.title-sub2{font-size:14px;padding:2px 0 4px 0}
.title-sub2 .tit_more{padding:0 8px}

/*foot*/
.foot{background:#52bfca;padding:40px 0;line-height:2em}
.friendly-link h5{border:#60c4ce dashed;border-width:1px 0}
.friendly-link,
.copyright{width:1000px;margin:0 auto;color:#fff}
.copyright{border-top:#b0e2e7 solid 1px;text-align:center;margin-top:10px;padding-top:10px}
.friendly-link span{display:inline-block;width:118px}
.foot a{color:#fff;padding:0 5px;}
.foot-con{padding:10px}
.foot h5{font-size:11px;line-height:2.8em;text-align:center;padding:0 10px}

/*group*/
.cs-group{width:986px;margin:0 auto}
.g_580{width:580px;float:right}
.g_192{width:192px;float:left}
.g_760{width:760px;float:right}
.g_360{width:360px}
.g_470{width:470px}
.g_495{width:495px}
.g_240{width:240px}
.g_230{width:230px}

/*product*/
.product{width:986px;margin:0 auto;height:76px;}
.product-list{float:left;height:58px;border:#d3d3d4 solid 1px;background:#f2f2f3;width:694px;position:relative}
.product-con{margin:9px 5px;overflow:hidden;height:40px;width:684px}
.product-con a{padding:0 4px}
.product-con a.col1{color:#62c3cc}
.product-point{background:url(../img/product-point.png) no-repeat;position:absolute;height:14px;width:14px;top:58px;left:22px}
.search{float:right;width:268px;height:60px;background:#000;padding:0 10px}
.search-tab{padding:4px 0 4px 8px}
.search-tab span{padding:0 12px;cursor:pointer}
.search .hover{color:#fff}
.search-form{background:url(../img/search-icon.png) no-repeat center left;padding-left:16px}
.search-form p{float:left}
.search-form .ipt-simple{width:196px}

/*MoreInformation*/
.MoreInformation{width:986px;margin:0 auto 45px}
.MoreInforCon{overflow:hidden;height:330px}
.Info-item{float:left;border-right:#202020 dotted 1px;width:112px;padding:0 16px;height:330px}
.Info-item img{width:110px;height:171px;display:block}
.Info-item-first{padding-left:0;padding-right:18px}
.Info-item-last{padding-right:0;padding-left:18px;border:0}
.Info-item h4{color:#000;text-align:center;font-size:14px;line-height:2.4em;}
.list-disc{padding:8px 0px}
.list-disc li{background:url(../img/list-ico.gif) no-repeat left 8px;padding-left:10px}
.list-disc a{font-size:12px}
.list-disc-fl{padding:0}
.list-disc-fl li{float:left;width:167px;margin-left:3px;_display:inline;padding-bottom:6px}

/*DirectoryIndex*/
.DirectoryIndex{width:986px;margin:0 auto 30px}
.Direc-item{border-bottom:#727171 dotted 1px;padding:5px 0}
.Direc-item strong{float:left}
.Direc-item strong span{padding-left:7px}
.Direc-item a{padding:0 7px;float:left}
.Direc-item .on{font-weight:bold;color:#000}

/*product_main*/
.product_main{padding-bottom:45px}
.product_pic{border:#000 solid 1px;padding:7px 6px;margin-top:24px;height:620px}
.product_detail{margin-top:14px}
.pro_det_tit,.pro_det_info,.pro_det_con,.pro_det_buy{border-bottom:#898989 dotted 1px}
.pro_det_tit{color:#000;font-size:24px;height:56px}
.pro_det_info{padding:6px 0;height:96px}
.pro_det_con{height:330px;overflow-y:auto}
.pro_det_con p{text-indent:2em;padding:8px 0}
.pro_det_buy{height:132px;padding-top:16px;position:relative}
.pro_det_buy span{font-size:18px}
.pro_det_buy em{font-size:30px}
.pro_det_buy p{color:#000}
.pro_det_buy a{border:#888 solid 1px;background:#fff;color:#000;padding:1px 6px;display:inline-block;margin:0 6px}
.pro_det_buy a.hover{background:#000;color:#fff}
.pro_det_buy a:hover{color:#5cb7c0}
.pro_det_btn{position:absolute;bottom:18px;right:0}
.pro_det_btn p{float:left;_display:inline;margin-left:10px}
.pro_det_btn .ipt-simple{width:20px;margin:0 5px}
.btn-simple1{background:#5cb7c0;width:auto;color:#fff;padding:0px 6px;border:#5cb7c0 solid 1px}
.btn-simple1:hover{color:#000}
.btn-simple2{background:#727171;width:auto;color:#fff;padding:0px 6px;border:#727171 solid 1px}
.Product_pic_mod{overflow:hidden;height:485px;margin-bottom:10px}

/*Featured*/
.Featured{margin-left:-20px}
.Featured2{margin-left:0;margin-bottom:20px}
.Featured-item{width:170px;margin-bottom:40px;float:left;margin-left:20px;_display:inline;height:260px;overflow:hidden}
.Featured2 .Featured-item{margin:10px 12px 15px}
.Featured-item img{padding:4px}
.Featured-item h2{font-weight:bold;padding:10px 0 2px}
.Featured-com{width:400px}
.Featured-com2{width:600px}

/*OtherHot*/
.OtherHot{margin-bottom:30px}
.OtherHot2{margin-bottom:20px}
.OtherHot-item{}
.OtherHot-js .OtherHot-yes .OtherHot_list,
.OtherHot-js .OtherHot-item .OtherHot_con{display:none}
.OtherHot-js .OtherHot-yes .OtherHot_con{display:block}
.OtherHot_list{height:28px;line-height:28px;cursor:pointer;border-bottom:#888 dotted 1px}
.OtherHot_list span{color:#25a1af;padding-right:5px}
.OtherHot_con{padding:12px 0;border-bottom:#888 dotted 1px}
.OtherHot_pic{width:132px}
.OtherHot_info{width:410px}
.OtherHot_info2{width:605px}
.OtherHot_info3{width:285px}
.OtherHot_info4{width:310px}
.OtherHot_tit{color:#23aab8;font-size:22px;line-height:1.3em;margin-bottom:10px;display:block}
.OtherHot-pag{padding:5px 0}
.Article{color:#000}
.More{padding-top:10px}
.More a{color:#23aab8;border:#23aab8 solid 1px;padding:0px 6px;width:60px;text-align:right}
.More a:hover{color:#000}
.More a:active{background:#eee}
/*.More-classify span{color:#727171;border:#b5b5b6 solid 1px;margin-right:4px;padding:0px 6px;width:60px;text-align:right}*/

/*StarList*/
.StarList{width:986px;margin:0 auto 30px}
.Star_picitem{width:116px;height:245px;overflow:hidden;text-align:center;float:left;_display:inline;margin:10px 12px 0}
.Mook_picitem{width:173px;height:360px;overflow:hidden;float:left;_display:inline;margin:10px 12px 0}
.Pic_list img{padding:2px;margin-bottom:5px}
.StarList .Mook_picitem img{padding:4px}
.Show_picitem{width:97px;float:left;border-right:#a4a4a4 solid 1px;padding:0 17px 20px;height:298px;overflow:hidden}
.Show_picitem2{border:0;padding:0 18px 20px 17px;}
.Show_picitem img{padding:0}
.Show_intro{text-align:center;margin-top:5px;}
.Show_introbor{border:#777 dotted;border-width:1px 0;padding:5px 0}
.Show_intro a{font-size:14px;line-height:1.4em}
.Pic_list a{display:block}
.List_order{font-size:14px;border-bottom:#777 dotted 1px;color:#000;padding:0 12px;line-height:2em}
.List_order2{padding:4px 0;font-size:12px;line-height:1.666em;}
.List_order3{padding-top:40px}
.List_order4{padding:0 12px 8px}
.List_order_tit{font-size:14px;color:#777}
.List_order_tit2{color:#000}
.PageTurning{border-top:#777 dotted 1px;padding:12px}
.Pagination{line-height:1.666em}
.Pagination a,
.Pagination span,
.PageSet a,
.PageSet strong,
.PageSet span{float:left;_display:inline;margin:0 5px}
.Pagination span,.Pagination a{_padding-top:3px}
.Pagination .Pagination-nopa{padding:0}
.Pagination .ipt-simple{width:24px;margin:0 5px;height:16px}
.Pagination .btn-simple2{height:20px;line-height:16px}
.Pagination_L{background:url(../img/Pagination_L.gif) no-repeat center;width:20px;height:20px;}
.Pagination_L:hover{background:url(../img/Pagination_Lon.gif) no-repeat center;}
.Pagination_R{background:url(../img/Pagination_R.gif) no-repeat center;width:20px;height:20px;}
.Pagination_R:hover{background:url(../img/Pagination_Ron.gif) no-repeat center;}
.Page_btm{border-bottom:#777 dotted 1px;margin-bottom:8px;padding:0 12px}
.PageSet{height:28px}
.PageSet-ch{_line-height:1.9em}
.PageSet strong,
.PageSet .on{color:#000;font-weight:bold}
.Star_name{width:986px;margin:0 auto;color:#000;font-size:20px;padding-bottom:20px}
.Pic_360{width:360px;overflow:hidden}
.Pic_list2{width:450px;border-bottom:#777 dotted 1px}
.Pic_list2 img{padding:2px}
.Pic_list2 .Star_picitem{width:116px;height:240px;margin:10px 2px 0}
.Star_article{margin-bottom:20px}
.Star_article h2{color:#000;padding:30px 0 10px}
.Star_article h3{color:#25a1af;margin-top:20px}
.Star_info_item p,
.Star_article_item p{margin-top:15px}
.Star_article_item p{text-indent:2em}

/*Pho_Cap_Recom*/
.Pho_Cap_Recom{padding-bottom:30px}
.PhoCap-a{display:block}
.Pho_Cap_Recom img{padding:6px;background:#b5b5b6;border:0;width:180px;height:284px;display:block}
.Pho_Cap_Recom h3{font-size:18px;line-height:24px;padding:12px 10px 5px;}
.Pho_Cap_Recom h3 a{color:#000}
.Minor-tit a:hover,
.Pho_Cap_Recom h3 a:hover{color:#5cb7c0}
.Pho_Cap_Recom .list-disc{padding:0 11px 10px}
.Pho_Cap_Recom .list-disc li{margin-top:5px}
.Pho_Cap_intro{color:#5cb7c0;padding:0 11px 20px}

/*Piclist_outline*/
.g_760 .Piclist_outline{width:760px}
.Piclist_outline{overflow:hidden;}
.Piclist_outline .Pic_list{margin-left:-16px;width:900px}
.g_495 .Piclist_outline{width:495px}
.g_495 .Piclist_outline .Pic_list{margin-left:-16px;width:600px}

/*Side_menu*/
.Side_menu{padding-bottom:20px}
.common_menu{padding:8px 0;border-bottom:#898989 dotted 1px;}
.plain_menu{border-bottom:#898989 dotted 1px;padding:10px 0 20px}
.plain_menu span{padding-right:13px}
.cs-nobor{border:0}

/*Hotnews_pic*/
.Hotnews_pic{height:503px;overflow:hidden;margin-bottom:40px}
.Hotnews_main a img{padding:5px;background:#b5b5b6;border:0;}
.Hotnews_minor{margin-top:-20px}
.Hotnews_minor2{margin-top:-26px;height:586px;overflow:hidden}
.Minor-item{height:232px;border-bottom:#898989 dotted 1px;padding:20px 0 18px;}
.Minor-item2{height:250px;padding:26px 0}
.Minor-item2 img{width:160px}
.Minor-pic{width:170px;float:left;}
.Minor-intro{width:170px;float:right;position:relative;height:232px}
.Minor-tit{font-size:22px;line-height:1.2em;padding:28px 0 10px}
.Minor-tit a{color:#000;}
.Minor-tit2{padding:0 0 6px}

/*Default-item*/
.Article_side{padding-top:120px}
.Default-item{border:#898989 solid 5px;padding:5px 19px 0;margin-bottom:10px}
.Default-item .Pho_Cap_Recom h3 a{color:#23aab8}
.Default-item .Pho_Cap_Recom h3 a:hover{color:#000}
.Default-item .list-disc{padding:10px 11px 20px}
.Default-item .Pho_Cap_Recom{padding:0}

/*Article_main*/
.Article_main{margin-bottom:25px}
.Article_tit{font-size:24px;margin:40px 0 0;color:#000}
/*.Article_content p{text-indent:2em}*/
.Article_content img{display:block;margin-bottom:0;border:0;background:#b5b5b5;padding:5px}
.keywords,.keywords a{color:#23aab8}
.keywords a{padding:0 5px}
.keywords a:hover{color:#000}
.Article_head .cs-fl{margin-right:10px}
/* .Article_head .keywords span{float:left;width:45px;overflow:hidden;white-space:nowrap} */
.Related_Infor{margin-bottom:20px}
.Related_Infor .list-disc{padding:0 11px 0}
.Related_Infor .list-disc li{margin-bottom:5px}
.Article_nav{margin-top:10px}
.Article_collect{border:#62c3cc solid 1px;background:url(../img/Article_collect.gif) no-repeat  10px center;color:#62c3cc;line-height:24px;display:block;width:50px;padding:0 15px 0 30px;margin:15px 0}
.Article_picpage{position:relative;height:30px}
.Article_picpage .Pagination,
.Pic_Page{position:absolute}
.Article_picpage .Pagination{width:170px;left:50%;margin-left:-86px}
.Pic_PageL{left:-2px}
.Pic_PageR{right:-2px}
.Pic_Page a{float:left;background:#62c3cc;color:#fff;padding:0 10px;_display:inline;margin:0 2px}
.ShowTime_intro .keywords{margin-bottom:20px}

/*Pho_Gallery*/
.Pho_Gallery .btn-simple1{float:right}
.PhoGal_mod{border:#b5b5b6 solid 5px;padding:6px;margin:10px 0 20px}

.PhoGal_unfold .PhoGal_list{height:100%}
.PhoGal_list{height:300px;overflow-y:auto}
.PhoGal_list a{float:left;border:#fff solid 5px;width:96px;height:140px;overflow:hidden}
.vertical-m{display: table-cell;vertical-align:middle;text-align:center;/* ForIE */*display: block;*font-size: 122px;*font-family:Arial;width:96px;height:140px;}
.PhoGal_list img{width:80px;border:0;padding:8px;vertical-align:middle;}
.PhoGal_list2{height:350px}
.PhoGal_list2 a{width:110px;height:162px;}
.PhoGal_list2 img{width:94px}
.PhoGal_list a:hover{border:#fff solid 5px}
.PhoGal_list a.Pho_on{border:#5cb7c0 solid 5px}
.PhoGal_list a:hover img{background:0}

/*Pho_Gallery_tab*/
.Pho_Gallery_tab{position:relative}
.PhoG_Tabtit{height:27px;position:absolute;top:0;border-left:#8b8b8b solid 1px;border-bottom:#8b8b8b solid 1px}
.PhoG_Tabtit p{float:left;border-right:#8b8b8b solid 1px;border-top:#8b8b8b solid 1px;width:99px;height:27px;line-height:26px;text-align:center;cursor:pointer;background:#fff}
.PhoG_Tabtit p.on{background:#8b8b8b;color:#fff}
.Pho_Gallery_tab .PhoGal_mod{margin-top:0;border:5px solid #8b8b8b}
.Pho_Gallery_tab .btn-simple1{margin-bottom:6px}

/*ShowNav*/
.ShowNav{border-top:#777 dotted 1px;padding:5px 0 30px}
.ShowNav_season{border:0}
.ShowNav-all{color:#5fbac3}
.ShowNav span{padding-right:10px}
.ShowNav span a{white-space:nowrap}
.ShowNav .on{font-weight:bold;color:#000}
.SeasonList{position:relative}
.SeasonList-div{width:175px;height:80px;overflow:hidden;margin:5px 0;position:relative}
.SeasonList-con{position:relative}
.SeasonList-con li{float:left;width:72px;padding-right:12px;height:20px;overflow:hidden}
/*
.SeasonList-con span{display:inline-block;width:72px;padding-right:12px;height:20px;overflow:hidden}
.SeasonList-con li{height:20px;overflow:hidden}
*/
.SeasonList-con .SeaList-long{width:167px}
.ShowNav-btn{margin:5px 0}
.ShowNav-btn .btn-simple{margin-left:0}
.ShowNav-search{}
.ShowNav-search .ipt-simple{width:188px;margin:0;background:none}
.ShowNav-list{background:#f7f8f8;border-top:#fff solid 8px;height:223px;overflow-y:auto;width:190px;padding:1px;}/*position:absolute;_left:0;_top:22px*/
.ShowNav-list a{display:block;color:#727171;padding:0 5px}
.ShowNav-list a:hover{background:#dcdddd}
.SeaList-Up{position:absolute;right:0;top:0;width:19px;height:15px;background:url(../img/SeaList-Up.gif) no-repeat center}
.SeaList-Down{position:absolute;right:0;bottom:0;width:19px;height:15px;background:url(../img/SeaList-Down.gif) no-repeat center}
.SeaList-Up:hover{background:url(../img/SeaList-Upon.gif) no-repeat center}
.SeaList-Down:hover{background:url(../img/SeaList-Downon.gif) no-repeat center}
.Show_term a{background:url(../img/ico-close.gif) no-repeat center right;padding:1px 15px 1px 2px;display:inline-block;border:#fff solid 1px;}
.Show_term a:hover{border:#5fbac3 solid 1px}

.ShowNav-simple{background:url(../img/search-icon1.gif) no-repeat 130px 4px}
.ShowNav-simple .ipt-simple{float:left;width:144px;height:18px}
.ShowNav-simple .ShowNav-btn{float:left;margin:0 0 0 8px;display:inline}

/*ShowTime*/
.ShowTime{padding:10px 0 20px}
.ShowTime_pic{width:400px;float:right;padding-top:5px}
.ShowTime_link{display:block;margin-bottom:10px}
.ShowTime_link img{margin:0 auto}
.ShowTime_intro{width:315px;float:left}
.Show_filmstrip{position:relative;margin:10px auto 0;zoom:1}
.Show_filmstrip a{display:block}
/*
0823
.Filmstrip_L{background:url(../img/Filmstrip_L.gif) no-repeat center;width:32px;height:63px;position:absolute;top:50%;left:1px;zoom:1;_top:200px;_margin-top:0}
.Filmstrip_R{background:url(../img/Filmstrip_R.gif) no-repeat center;width:32px;height:63px;position:absolute;top:50%;right:1px;zoom:1;_top:200px;_margin-top:0}
.Filmstrip_Loupe{background:url(../img/Filmstrip_Loupe.png) no-repeat;_background:url(../img/Filmstrip_Loupe.gif) no-repeat;width:38px;height:29px;position:absolute;top:50%;left:50%;margin:0 0 0 -19px;zoom:1;_top:217px;_margin-top:0}
*/

.Filmstrip_L,
.Filmstrip_R,
.Filmstrip_Loupe{background:url(../img/transparent.gif) repeat}
.Filmstrip_L{width:32px;height:100%;position:absolute;top:0;left:1px;zoom:1}
.Filmstrip_L:hover{background:url(../img/Filmstrip_L.gif) no-repeat center}
.Filmstrip_R{width:32px;height:100%;position:absolute;top:0;right:1px;zoom:1}
.Filmstrip_R:hover{background:url(../img/Filmstrip_R.gif) no-repeat center}
.Filmstrip_Loupe{width:334px;height:100%;position:absolute;top:0;left:50%;margin:0 0 0 -167px;zoom:1}
.Filmstrip_Loupe:hover{background:url(../img/Filmstrip_Loupe.png) no-repeat center;_background:url(../img/Filmstrip_Loupe.gif) no-repeat center;}
.ShowV_intro{width:760px}
.ShowV_intro .Article_picpage{width:530px;margin-left:20px;_display:inline;padding-top:3px}
.MvGal_list{height:466px}
.MvGal_list a{margin:12px 1px}
.MvGal_list img{width:150px;height:120px}
.FLVPlayer_mod{width:660px;margin:10px auto}

/*Showpic_list*/
.Showpic_list{padding:10px 0}
.Showpic_tit{position:relative;height:54px;margin-top:6px;overflow:hidden}
.Showpic_tit a{color:#000;font-size:18px;position:absolute;bottom:5px;line-height:24px;}
.Showpic_tit a:hover{color:#5cb7c0}
.Showpic_list .Show_picitem{height:255px;padding-bottom:0;overflow:hidden}

/*Hot_Show*/
.Hot_Show{width:986px;margin:0 auto;color:#000;height:424px;overflow:hidden}
.HotShow-box{width:85px;float:left;overflow:hidden;margin-right:1px;_display:inline;margin-top:40px;position:relative}
.HotShow-box img{width:208px;display:block;margin-left:-75px;border:0}
.HotShow-box span{display:none}
.HotShow-box .HotShow-tit{color:#fff;height:40px;overflow:hidden;padding:0 8px 8px;display:block;margin-top:240px}
.HotShow-box .HotShow-info{height:324px;width:85px;position:absolute;top:0;left:0;background:#333;filter: Alpha(opacity=80);opacity:0.8;}
.HotShow-odd{margin-top:20px}
.HotShow-odd .HotShow-info{background:#000;filter: Alpha(opacity=70);opacity:0.7;}
.HotShow-odd .HotShow-tit{color:#88ebf0;margin-top:260px}
.HotShow-item{width:212px;height:424px;margin:0}
.HotShow-item .HotShow-info{background:#62c3cc;border:#f7fbfc solid 1px;height:80px;width:210px;top:329px;filter: Alpha(opacity=100);opacity:1;overflow:hidden}
.HotShow-item img{width:210px;border:#f7fbfc solid 1px;margin:0}
.HotShow-item .HotShow-tit{font-size:18px;color:#fff;padding:0 12px;margin:0;height:auto;}
.HotShow-item span{padding:0 12px;display:block}

/*Index*/
.Index_sec1{height:610px;overflow:hidden;margin-bottom:30px}
.Index_sec2,.Index_sec3{margin-bottom:30px}
.Index_sec4{height:280px;overflow:hidden;margin-bottom:30px}
.PicBlack_mod{position:relative;height:553px;display:block;cursor:pointer;overflow:hidden}
.PicBlack_mod2{height:728px;padding:5px;background:#b5b5b6}
.PicBlack_tab{position:absolute;bottom:160px;right:15px;}
.PicBlack_tab li{float:left;width:10px;height:10px;background:url(../img/PicBlack_tab.gif) no-repeat center;padding:4px;cursor:pointer}
.PicBlack_tab li.active{background:url(../img/PicBlack_on.gif) no-repeat center}
.PicBlack_mod img{padding:5px;border:0;width:350px;height:543px;background:#b5b5b6;display:block}
.PicBlack_mod2 img{border:0;padding:0}
.PicBlack_tit{position:absolute;color:#fff;bottom:5px;_bottom:4px;left:5px;width:306px;padding:30px 22px 20px;background:#000}
.PicBlack_tit h2{font-size:18px;line-height:24px;padding-bottom:10px}
.PicBlack_tit2{padding-top:50px;position:static;_margin-top:-5px;height:118px}
.Pic_point{position:absolute;display:block;width:14px;height:7px;top:-7px;background:url(../img/Pic_point.gif) no-repeat;left:28px}
.Index_picarticle{text-align:center;width:75px;line-height:1.2em;margin-top:5px}
.Index_picarticle img{width:75px;margin-bottom:3px;display:block}
.Index_piclist{border-bottom:1px dotted #898989}
.Index_piclist a{float:left;_display:inline;width:88px;height:198px;overflow:hidden;margin-left:2px;line-height:1.5em;margin-bottom:12px}
.Index_piclist img{width:88px;height:140px;display:block;margin-bottom:4px}
.Fashion_search{border-bottom:1px dotted #898989;padding:12px 7px 6px}
.Fashion_search p{padding-bottom:8px}
.Fashion_search a{padding:0 3px}
.Fashion_search span{color:#000}
.Fashion_search .on{font-weight:bold;}
.Fashion_search .special{color:#62c3cc}
.Index_sec4 img{}
.Index_sec4 .list-disc{padding:0;height:103px;overflow:hidden}
.Index_sec4 .list-disc li{padding-bottom:11px}
.Index_sec4 .list-disc li a{height:20px;overflow:hidden;display:block}
.PicBlack_div{position:relative}
.Fashion_s_btn{padding-left:60px}

/*Pic_GoRound*/
.Editorial{background:#000;padding:3px 0;border-bottom:#a3a3a3 solid 1px;margin-bottom:40px;position:relative;height:240px;overflow:hidden}
.Pic_GoRound_mod{width:986px;overflow:hidden;margin:auto}
.Pic_Go,.jcarousel-prev,.jcarousel-next{position:absolute;height:240px;width:22px;position:absolute;cursor:pointer}
.Pic_GoL,.jcarousel-prev{left:0px;top:3px;background:url(../img/Editorial-GOl.gif) no-repeat center}
.Pic_GoR,.jcarousel-next{right:0;top:3px;background:url(../img/Editorial-GOr.gif) no-repeat center}
.Pic_GoRound a{float:left;_display:inline;margin-left:2px;margin-bottom:3px}
.Pic_GoRound img{height:238px;width:153px;display:block}
.jcarousel-container-horizontal{padding:0 21px;width:944px;height:240px}
.jcarousel-clip-horizontal{width:944px;overflow:hidden}
.Perio_List .jcarousel-container-horizontal{width:430px;padding:0 20px}
.Perio_List .jcarousel-clip-horizontal{overflow:hidden;width:430px}
.Perio_List .jcarousel-prev,.Perio_List .jcarousel-next{width:20px;height:170px;top:0}
.Perio_List .jcarousel-prev{background:url(../img/jcarousel-prev.gif) no-repeat center}
.Perio_List .jcarousel-next{background:url(../img/jcarousel-next.gif) no-repeat center}
.Perio_List .Pic_GoRound_mod2 .jcarousel-container-horizontal{width:324px;padding:0 18px}
.Perio_List .Pic_GoRound_mod2 .jcarousel-clip-horizontal{overflow:hidden;width:324px}
.Perio_List .Pic_GoRound_mod3 .jcarousel-container-horizontal{width:540px;padding:0 20px}
.Perio_List .Pic_GoRound_mod3 .jcarousel-clip-horizontal{overflow:hidden;width:540px}
.Perio_List2 .Pic_GoRound_mod4 .jcarousel-container-horizontal{width:304px;padding:0 21px}
.Perio_List2 .Pic_GoRound_mod4 .jcarousel-clip-horizontal{overflow:hidden;width:304px}
.Perio_List2 .jcarousel-prev,.Perio_List2 .jcarousel-next{width:20px;height:112px;top:0}

/*Column_sec*/
.Column_sec1{height:560px;margin-bottom:30px;overflow:hidden}
.Column_sec5{margin-bottom:40px}
.Column5_item{width:360px;}
.Column5_item img{width:178px;height:278px;display:block}
.Column5_tit{width:140px;}
.Column5_itemL .Column5_tit{padding-left:20px;float:right;background:url(../img/Column5_titL.gif) no-repeat left 50px}
.Column5_itemL .Column5_pic{float:left;width:180px}
.Column5_itemR .Column5_tit{padding-right:20px;float:left;background:url(../img/Column5_titR.gif) no-repeat right 50px}
.Column5_itemR .Column5_pic{float:right;width:180px}
.Column5_tit h2{font-size:18px;line-height:24px;margin:20px 0 10px}
.Column5_tit h2 a{color:#000}
.Column5_tit h2 a:hover{color:#5cb7c0}

/*Perio_List*/
.Perio_List{position:relative;margin-bottom:20px}
.Perio_List .Pic_GoRound_mod{width:470px;}
.Perio_List .Pic_GoRound_mod2{width:360px}
.Perio_List .Pic_GoRound_mod3{width:580px}
.Perio_List .Pic_GoRound_mod4{width:346px}
.Perio_List .Index_picarticle{width:96px;margin:0 6px;height:192px;overflow:hidden;}
.Perio_List img{width:90px;padding:2px;height:auto}
.Perio_List2 img{width:72px;padding:0}
.Perio_List2 .Index_picarticle{width:74px;margin:0 1px;height:117px}
.Perio_List .Pic_Go{width:24px;height:170px;top:0}
.Perio_List2 .Pic_Go{width:22px;height:120px;top:0}

/*PicBlack_Roll*/
.PicBlack_Roll{background:#000;border:#B5B5B5 solid 5px;width:350px;position:relative;height:732px;_height:732px;overflow:hidden}
.PicBReel{width:3600px;position:absolute}
.PicBReel .PicBlack_mod2{float:left;position:static;padding:0}
.PicBReel .PicBlack_mod2 img{width:350px;height:544px;display:block}
.PicB_win{width:350px;overflow:hidden}

/*Star-post*/
.Star-post{padding:5px 0}
.Star-post a{display:block}
.Star-postL{padding-left:10px;background:url(../img/Star-postL.gif) no-repeat left 8px}
.Star-postR{padding-right:10px;background:url(../img/Star-postR.gif) no-repeat right 8px}

/**/
a{text-decoration:none;color:#777}
a:hover{color:#000}
img{border:#777 solid 1px}
a:hover img{border-color:#5cb7c0;background:#5cb7c0}
a:hover .nobor,
img.nobor{border:0}
button{cursor:pointer}


/*EngTit*/
.EngTit{height:36px;line-height:3000em;overflow:hidden;padding-right:0;margin:0}

.ACCESSORY{background:url(../EngTit/ACCESSORY.png) no-repeat -160px 6px;width:240px}
.BEAUTY{background:url(../EngTit/BEAUTY.png) no-repeat right 6px;width:240px}
.BOOKLIST{background:url(../EngTit/BOOKLIST.png) no-repeat right 6px;width:240px}
.BRANDPROFILE{background:url(../EngTit/BRANDPROFILE.png) no-repeat right 6px;width:240px}
.BRANDS{background:url(../EngTit/BRANDS.png) no-repeat right 6px;width:240px}
.CELEBPROFILE{background:url(../EngTit/CELEBPROFILE.png) no-repeat right 6px;width:240px}
.CELEBS{background:url(../EngTit/CELEBS.png) no-repeat -160px 6px;width:240px}
.CELEBSGALLERY{background:url(../EngTit/CELEBSGALLERY.png) no-repeat right 6px;width:265px}
.CELEBSGOSSIP{background:url(../EngTit/CELEBSGOSSIP.png) no-repeat right 6px;width:240px}
.CONTENT{background:url(../EngTit/CONTENT.png) no-repeat right 6px;width:240px}
.DESIGNERGOSSIP{background:url(../EngTit/DESIGNERGOSSIP.png) no-repeat right 6px;width:270px}
.EDITORIAL{background:url(../EngTit/EDITORIAL.png) no-repeat right 6px;width:240px}
.EVENTS{background:url(../EngTit/EVENTS.png) no-repeat right 6px;width:240px}
.FASHIONSHOWS{background:url(../EngTit/FASHIONSHOWS.png) no-repeat right 6px;width:260px}
.FEATURE{background:url(../EngTit/FEATURE.png) no-repeat right 6px;width:240px}
.FEMME{background:url(../EngTit/FEMME.png) no-repeat -160px 6px;width:240px}
.FILELIST{background:url(../EngTit/FILELIST.png) no-repeat right 6px;width:240px}
.GOODTASTE{background:url(../EngTit/GOODTASTE.png) no-repeat right 6px;width:240px}
.GOSSIP{background:url(../EngTit/GOSSIP.png) no-repeat right 6px;width:240px}
.HOMME{background:url(../EngTit/HOMME.png) no-repeat right 6px;width:240px}
.INSIDERPROFILE{background:url(../EngTit/INSIDERPROFILE.png) no-repeat right 6px;width:260px}
.KIDS{background:url(../EngTit/KIDS.png) no-repeat right 6px;width:240px}
.LIFE{background:url(../EngTit/LIFE.png) no-repeat -160px 6px;width:240px}
.LOOKBOOK{background:url(../EngTit/LOOKBOOK.png) no-repeat right 6px;width:240px}
.MODELPROFILE{background:url(../EngTit/MODELPROFILE.png) no-repeat right 6px;width:250px}
.MOREINFORMATION{background:url(../EngTit/MOREINFORMATION.png) no-repeat right 6px;width:330px}
.NEWARRIVAL{background:url(../EngTit/NEWARRIVAL.png) no-repeat right 6px;width:240px}
.NEWS{background:url(../EngTit/NEWS.png) no-repeat -160px 6px;width:240px}
.NEWSLIST{background:url(../EngTit/NEWSLIST.png) no-repeat right 6px;width:240px}
.OTHERHOT{background:url(../EngTit/OTHERHOT.png) no-repeat right 6px;width:240px}
.RECRUITMENT{background:url(../EngTit/RECRUITMENT.png) no-repeat right 6px;width:240px}
.RELATED{background:url(../EngTit/RELATED.png) no-repeat right 6px;width:240px}
.SPORTSWEAR{background:url(../EngTit/SPORTSWEAR.png) no-repeat right 6px;width:240px}
.STREETPHOTOS{background:url(../EngTit/STREETPHOTOS.png) no-repeat right 6px;width:250px}
.STREETSTYLE{background:url(../EngTit/STREETSTYLE.png) no-repeat right 6px;width:240px}
.STYLISTAPROFILE{background:url(../EngTit/STYLISTAPROFILE.png) no-repeat right 6px;width:280px}
.TRAVEL{background:url(../EngTit/TRAVEL.png) no-repeat right 6px;width:240px}
.TRENDS{background:url(../EngTit/TRENDS.png) no-repeat right 6px;width:240px}
.WHATSHOT{background:url(../EngTit/WHATSHOT.png) no-repeat right 6px;width:240px}
.CAMPAIGN{background:url(../EngTit/CAMPAIGN.png) no-repeat right 6px;width:240px}

.HOTNEWS{background:url(../EngTit/HOTNEWS.png) no-repeat right 6px;width:240px}
.OTHERNEWS{background:url(../EngTit/OTHERNEWS.png) no-repeat right 6px;width:260px}
.SEARCH{background:url(../EngTit/SEARCH.png) no-repeat right 6px;width:240px}
.BRANDNEWS{background:url(../EngTit/BRANDNEWS.png) no-repeat right 6px;width:270px}
.FASHIONNEWS{background:url(../EngTit/FASHIONNEWS.png) no-repeat right 6px;width:300px}
.FASHIONTRENDS{background:url(../EngTit/FASHIONTRENDS.png) no-repeat right 6px;width:330px}
.FASHIONSHOW{background:url(../EngTit/FASHIONSHOW.png) no-repeat right 6px;width:240px}
.FASHIONLIFE{background:url(../EngTit/FASHIONLIFE.png) no-repeat right 6px;width:370px}