<?xml version="1.0" encoding="utf-8" ?>
<DropMenu xmlns="http://schema.anywell.com/xmenu-1.0">
  <DropMenuItem id="0" name="管理控制菜单">
    <DropMenuItem id="10" name="文件">
      <DropMenuItem id="1001" name="系统首页" url="mainfra.html" target="mainFrame"></DropMenuItem>
      <DropMenuItem id="1003" name="站点列表" url="Site/SiteList.aspx" target="mainFrame" separator="true"></DropMenuItem>
      <DropMenuItem id="1004" name="切换帐号" url="Logout.aspx"></DropMenuItem>
      <DropMenuItem id="1005" name="注销登陆" url="Logout.aspx" separator="true"></DropMenuItem>
      <DropMenuItem id="1006" name="新建">
        <DropMenuItem id="100601" name="新建站点" url="javascript:addSite()"></DropMenuItem>
        <DropMenuItem id="100602" name="新建栏目" url="javascript:addColumnByMenu()"></DropMenuItem>
      </DropMenuItem>
    </DropMenuItem>
    <DropMenuItem id="20" name="个人服务">
      <DropMenuItem id="2001" name="我的资料" url="Person/InfoEdit.aspx"></DropMenuItem>
      <DropMenuItem id="2002" name="修改密码" url="person/PasswordEdit.aspx"></DropMenuItem>
      <DropMenuItem id="2003" name="我的操作日志" url="Person/UserLog.aspx"></DropMenuItem>
    </DropMenuItem>
    <DropMenuItem id="30" name="管理工具">
      <DropMenuItem id="3001" name="发布监控" url="Sys/PublishList.aspx">
        <DropMenuItem id="300101" name="所有队列" url="Sys/PublishList.aspx"></DropMenuItem>
        <DropMenuItem id="300102" name="执行中" url="Sys/PublishList.aspx?status=1"></DropMenuItem>
        <DropMenuItem id="300103" name="成功队列" url="Sys/PublishList.aspx?status=2"></DropMenuItem>
        <DropMenuItem id="300104" name="失败队列" url="Sys/PublishList.aspx?status=3"></DropMenuItem>
      </DropMenuItem>
      <DropMenuItem id="3002" name="操作日志" url="Sys/LogList.aspx"></DropMenuItem>
      <DropMenuItem id="3003" name="用户管理" url="User/UserList.aspx"></DropMenuItem>
    </DropMenuItem>
    <DropMenuItem id="40" name="选件">
      <DropMenuItem id="4001" name="电子展讯订阅" url="Plugins/Subscribe/SubscribeList.aspx"></DropMenuItem>
    </DropMenuItem>
  </DropMenuItem>
</DropMenu>

