<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="ANYWEB_DB" connectionString="server=AOFEI-PC\SQLEXPRESS;database=AnyWeb2010;uid=aofei;pwd=123456" />
  </connectionStrings>
  <appSettings>
    <add key="DbType" value="1" />
    <add key="AW_AdminMasterPage" value="~/Admin/AdminPage.master" /> <!--如做为ibox插件，将master换成IBOX模板-->
  </appSettings>
  <system.web>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" />
    <pages enableEventValidation="false" validateRequest="false">
      <namespaces>
        <add namespace="AnyWeb.AW_UC"/>
      </namespaces>
      <controls>
        <add assembly="Studio" namespace="Studio.Web" tagPrefix="sw" />
        <add assembly="AW_UC" namespace="AnyWeb.AW_UC" tagPrefix="AW"/>
      </controls>
    </pages>
    <httpModules />
    <compilation debug="true" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>