<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ShopName>高闻</ShopName>
  <CompanyName>高闻</CompanyName>
  <Address />
  <Postcode>510660</Postcode>
  <Tel />
  <Fax />
  <Mobile>123</Mobile>
  <QQ />
  <MSN />
  <Email />
  <Icp />
  <TitleExtension> - 做全国最好的网上顾问</TitleExtension>
  <MetaKeywords>做全国最好的网上顾问</MetaKeywords>
  <MetaDescription>做全国最好的网上顾问</MetaDescription>
  <FlashWidth>0</FlashWidth>
  <FlashHeight>0</FlashHeight>
  <MemberAvatorWidth>100</MemberAvatorWidth>
  <MemberAvatorHeight>100</MemberAvatorHeight>
  <BrandImageWidth>166</BrandImageWidth>
  <BrandImageHeight>56</BrandImageHeight>
  <GoodsListImageWidth>96</GoodsListImageWidth>
  <GoodsListImageHeight>106</GoodsListImageHeight>
  <ColumnImageWidth>985</ColumnImageWidth>
  <ColumnImageHeight>256</ColumnImageHeight>
  <GoodsImageWidth>283</GoodsImageWidth>
  <GoodsImageHeight>283</GoodsImageHeight>
  <BigADImageHeight>365</BigADImageHeight>
  <BigADImageWidth>806</BigADImageWidth>
  <SmallADImageHeight>146</SmallADImageHeight>
  <SmallADImageWidth>151</SmallADImageWidth>
  <ImageWatermarkType>0</ImageWatermarkType>
  <ImageWatermarkUrl>/Files/Water/634081868221673260.gif</ImageWatermarkUrl>
  <ImageWatermarkText>AnyWeb</ImageWatermarkText>
  <ImageWatermarkFontsize>3</ImageWatermarkFontsize>
  <ImageWatermarkFontFamily>宋体</ImageWatermarkFontFamily>
  <ImageWatermarkTransparency>80</ImageWatermarkTransparency>
  <ImageWatermarkPosition>9</ImageWatermarkPosition>
  <ImageWatermarkFontColor>#332229</ImageWatermarkFontColor>
  <ImageWatermarkShadowColor>#CFB8C6</ImageWatermarkShadowColor>
  <ImageWatermarkAngle>0</ImageWatermarkAngle>
  <ImageWatermarkFontCss>Italic</ImageWatermarkFontCss>
  <RegEnable>true</RegEnable>
  <RegAgreement>
    1 遵守国家法律法规1
    2 遵守所有与网络服务有关的网络协议、规定和程序
    3 不得为任何非法目的而使用网络服务系统
  </RegAgreement>
  <IsAliPay>true</IsAliPay>
  <AliPay_Acc>web@anyp.cn</AliPay_Acc>
  <AliPay_PartnerID>2088001360967361</AliPay_PartnerID>
  <AliPay_Key>e8jedbix7486jg8wrssts4cl5kse2csw</AliPay_Key>
  <AliPay_Service>create_direct_pay_by_user</AliPay_Service>
  <IsNetBank>true</IsNetBank>
  <NetBank_ID>28789</NetBank_ID>
  <NetBank_Key>chinabank163261533</NetBank_Key>
  <IsBank>true</IsBank>
  <Bank_Des>
    &lt;p&gt;请根据您的方便选择以下任一收款银行进行转帐/电汇支付，支付完成后请拨打电话020-32745950联系客服，验证付款成功后即可发货。&lt;/p&gt;
    &lt;p&gt;&lt;br /&gt;&lt;br /&gt;
    &lt;table style="width: 100%;" border="0"&gt;
    &lt;tbody&gt;
    &lt;tr&gt;
    &lt;td width="33%"&gt;
    &lt;p&gt;&lt;img src="http://shop.lvdodo.com/images/members/bank_gsyh.gif" alt="中国工商银行" /&gt;&lt;br /&gt;中国工商银行广州工业园支行&lt;br /&gt;9558 8036 0214 7140 974&lt;br /&gt;朱蔚娟&lt;/p&gt;
    &lt;/td&gt;
    &lt;td width="33%"&gt;
    &lt;p&gt;&lt;img src="http://shop.lvdodo.com/images/members/bank_zsyh.gif" alt="招商银行" /&gt;&lt;br /&gt;招商银行广州市天河东路金利来大厦支行&lt;br /&gt;6225 8820 0108 0065&lt;br /&gt;朱蔚娟&lt;/p&gt;
    &lt;/td&gt;
    &lt;td&gt;
    &lt;p&gt;&lt;img src="http://shop.lvdodo.com/images/members/bank_jsyh.gif" alt="中国建设银行" /&gt;&lt;br /&gt;中国建设银行广州天河工业园支行&lt;br /&gt;6227 0033 2418 0040 358&lt;br /&gt;张瑜&lt;/p&gt;
    &lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
    &lt;td colspan="3" height="30"&gt;&amp;nbsp;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
    &lt;td&gt;
    &lt;p&gt;&lt;img src="http://shop.lvdodo.com/images/members/bank_nyyh.gif" alt="中国农业银行" /&gt;&lt;br /&gt;中国农业银行广州中山二路支行&lt;br /&gt;6228 4800 8198 4606 012&lt;br /&gt;张瑜&lt;/p&gt;
    &lt;/td&gt;
    &lt;td&gt;
    &lt;p&gt;&lt;img src="http://shop.lvdodo.com/images/members/bank_zgyh.gif" alt="中国银行" /&gt;&lt;br /&gt;中国银行广州工业园支行&lt;br /&gt;6013 8219 0005 0691 810&lt;br /&gt;张瑜&lt;/p&gt;
    &lt;/td&gt;
    &lt;td&gt;
    &lt;p&gt;&lt;img src="http://shop.lvdodo.com/images/members/bank_gdyh.gif" alt="光大银行" /&gt;&lt;br /&gt;中国光大银行广州分行&lt;br /&gt;3868 0188 000106118&lt;br /&gt;张瑜&lt;/p&gt;
    &lt;/td&gt;
    &lt;/tr&gt;
    &lt;/tbody&gt;
    &lt;/table&gt;
    &lt;/p&gt;
  </Bank_Des>
  <IsFacePay>true</IsFacePay>
  <FacePay_Des>
    &lt;p&gt;工作人员将与您联系以确认订单内容和收货地址等资料，确认后安排发货。&lt;br /&gt;收到货物时请检验货物无误并向快递人员以现金方式支付货款。&lt;/p&gt;
    &lt;p&gt;&amp;nbsp;&lt;/p&gt;
    &lt;div id="notice"&gt;
    &lt;h4&gt;注意事项&lt;/h4&gt;
    &lt;ul&gt;
    &lt;li&gt;货到付款方式需支付订单总额的10%作为手续费 &lt;/li&gt;
    &lt;li&gt;到货时间可能相应延长2～3工作日。 &lt;/li&gt;
    &lt;li&gt;当货品存量不足时，将优先向在线支付方式的客户发货。 &lt;/li&gt;
    &lt;li&gt;您可以现在联系客服要求立即处理订单：客服电话：020-32745950 ；电子邮件：vip@lvdodo.com ； 客服QQ：18474483&lt;/li&gt;
    &lt;/ul&gt;
    &lt;/div&gt;
  </FacePay_Des>
  <SetupConfigGeneral>true</SetupConfigGeneral>
  <SetupConfigMember>true</SetupConfigMember>
  <SetupConfigHelp>true</SetupConfigHelp>
  <SetupConfigPayment>true</SetupConfigPayment>
  <SetupConfigImage>true</SetupConfigImage>
  <SetupConfigSeo>true</SetupConfigSeo>
  <SetupConfigSmtps>true</SetupConfigSmtps>
  <SetupCategory>true</SetupCategory>
  <SetupBrand>true</SetupBrand>
</GeneralConfigInfo>