<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		
	</connectionStrings>
	<appSettings>
		<add key="DbType" value="1"/>
    <add key="LogEnable" value="1"/>
	</appSettings>
	<system.web>
    <httpRuntime maxRequestLength="10240" executionTimeout="300"/>
		<globalization requestEncoding="UTF-8" responseEncoding="UTF-8"/>
		<pages enableEventValidation="false" validateRequest="false">
			<namespaces>
				<add namespace="AnyWell.AW_UC"/>
			</namespaces>
			<controls>
				<add assembly="Studio" namespace="Studio.Web" tagPrefix="sw"/>
				<add assembly="AW_UC" namespace="AnyWell.AW_UC" tagPrefix="AW"/>
			</controls>
		</pages>
		<httpModules/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
