@charset "gb2312";
#col_side {
	float:left;
	width:288px;
}

#col_main {
	float:left;
	width:710px;
}

.box{
	border:1px #BEE2D9 solid;
	margin:3px;
}

.box .box_title{
	height:30px;
	background:url(../images/box_title_bg.jpg);
	padding:0px 5px;
	line-height:25px;
	color:#418D82;
	font-size:14px;
	font-weight:bold;
}

.box .box_content{
	margin:0px;
	padding:0px 5px 5px 5px;
}
.box .box_content ul{
	margin:0px;
	padding:0px;
}
.box .box_content li{
	margin-top:0px;
	line-height:23px;
	border-bottom:#CCC 1px dashed;
	list-style:url(../images/dot.jpg) inside;
}

.content{
	margin:3px;
	border:1px #BEE2D9 solid;
}

.list_title{
	background:url(../images/list_title_bg.jpg) no-repeat;
	height:31px;
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	padding-left:30px;
	color:#407e61;
}

.list{
	margin:0px;
	padding:2px 5px 10px 5px;
}

.list ul{
	margin:0px;
	padding:0px;
}
.list li{
	margin-top:0px;
	line-height:25px;
	border-bottom:#CCC 1px dashed;
	list-style:url(../images/dot.jpg) inside;
	padding-bottom:3px;
}

.list .time{ color:#999;}

