@charset "gb2312";

/*首页布局1 左：330px 中：458px 右：240px*/
.col_left1 {
	float:left;
	width:300px;
}

.col_main1 {
	float:left;
	width:458px;
	
}

.col_right1 {
	width:240px;
	float:left;
}

/*首页布局2 左：250px 中：448px 右：300px*/
.col_left2 {
	float:left;
	width:250px;
}

.col_main2 {
	float:left;
	width:448px;
	
}

.col_right2 {
	width:300px;
	float:left;
}


/*首页栏目*/
.box{
	border:1px #BEE2D9 solid;
	margin:3px;
}

.box .box_title{
	height:30px;
	background:url(../images/box_title_bg.jpg);
	padding:0px 5px;
	line-height:25px;
	color:#418D82;
}

.box .box_title .titletxt{
	float:left;
	padding-left:10px;
	font-weight:bold;
	font-size:14px;
}

.box .box_title .more{
	float:right;
}

.box .box_content{
	margin:0px;
	padding:0px 5px 5px 5px;
}
.box .box_content ul{
	margin:0px;
	padding:0px;
}
.box .box_content li{
	margin-top:0px;
	line-height:22px;
	border-bottom:#DDD 1px dashed;
	list-style:url(../images/dot.jpg) inside;
}

.subcompany{
	margin:2px;
}

.subcompany dt{
	font-size:14px;
	padding:5px;
	color:#096;
}

.subcompany dd{
	margin:2px;
	padding:2px 2px 9px 2px;
	color:#666;
	border-bottom:dashed #999 1px;
	line-height:150%;
	text-indent:2em; 
}

.introduce{margin:2px;line-height:150%;font-size:14px; color:#555;}
.introduce p{margin:2px; text-indent:2em; }
.introduce .detail{ float:right; padding-right:10px;}