<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=LIQIBIAO666\SQLEXPRESS;database=Shop;uid=liqibiao666;pwd=liqibiao666" />
  </appSettings>
	<connectionStrings />
	<system.web>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" />
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
		<authentication mode="Windows" />
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false">
      <controls>
        <add assembly="Studio" namespace="Studio.Web" tagPrefix="sw" />
      </controls>
    </pages>
	</system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
