@charset "utf-8";

/*****************************************************/
/* @Purpose: Css for anyweb shop                     */
/* @Author : Foolin                                  */
/* @Created: 2010-3-11 10:14:13                      */
/* Copyright(c)2010 Anywell Team, All Rights Reserved */
/*****************************************************/


/** 全局 ***/
body{
	margin:0px;
	font-size:12px;
	background:White;
	line-height:1.5em;
}
a{
	color:#767397;
	text-decoration:none;
}
a:hover{
	color:#F00;
	text-decoration:underline;
}
.clear{
	clear:both;
}
.wrapper {
	margin:0px auto;
	width:985px;
	background:#FFF;
}

/***** 顶部 *****/
.header{
	height:80px;
	line-height:80px;
}

.logo{
	float:left;
	width:50%;
}
.logo img{
	margin-left:30px;
	margin-top:25px;
}
.search{
	float:right;
	width:49%;
	text-align:right;
}

.search form{
	margin-top:25px;
	margin-right:50px;
}

.search .searchInput{
	width:130px;
	height:20px;
	background:url(../Images/search_input.png) no-repeat;
	border:0px;
	padding-left:33px;
	line-height:18px;
}

.search .searchBtn{
	background:url(../Images/search_btn.png) no-repeat;
	width:50px;
	height:20px;
	border:0px;
	padding-left:20px;
	cursor:pointer;
}
.innersearch{
	width:49%;
}

.innersearch form{
	margin-top:25px;
	margin-right:50px;
}

.innersearch .searchInput{
	width:130px;
	height:20px;
	background:url(../Images/search_input.png) no-repeat;
	border:0px;
	padding-left:33px;
	line-height:18px;
}

.innersearch .searchBtn{
	background:url(../Images/search_btn.png) no-repeat;
	width:50px;
	height:20px;
	border:0px;
	padding-left:20px;
	cursor:pointer;
}
/**** topMain *******/
.topMain{
}

.colMain{
	float:left;
	width:807px;
}

.colSider{
	float:right;
	width:173px;
}

.menu{
	margin-top:0;
	background:url(../Images/menu_bg.gif) no-repeat right !important;
	background:url(../Images/menu_bg.gif) no-repeat;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.menu ul{
	margin:0px;
	list-style:none;
	line-height:45px;
	height:45px;
	font-weight:bold;
	font-size:11pt;
	color:#767397;
}
.menu ul li{
	float:left;
	margin-left:50px;
}
.menu ul li a{
	color:#928ec0;
	padding-left:8px;
	padding-right:8px;
	text-decoration:none;
	display:inline-block;
	/*display:block;*/
}
.menu ul li a:hover{
	background:#928ec0;
	color:#FFF;
	height:45px;
	padding-left:8px;
	padding-right:8px;
	line-height:45px;
	text-decoration:none;
	display:inline-block;
	/*display:block;*/

}

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #8a89a8; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 12px Verdana;
line-height:22px;
z-index:100;
background-color:#504d78;
width: 200px;
visibility: hidden;
/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}

.dropmenudiv a{
	width: 100%;
	display: block;
	border: 0px solid #ADED7C;
	padding: 3px 2px;
	text-indent:1.2em;
	text-decoration: none;
	color:#fff;
	background-color:#504d78;
}

.dropmenudiv a:hover{
	width: 100%;
	display: block;
	border: 0px solid #ADED7C;
	padding: 3px 2px;
	text-indent:1.2em;
	background-color: #928ec0;
	color:#fff;
	text-decoration:none;
}

.focus{
}
.focus img{
	width:806px;
	border:0px;
}

.colBox{
	width:174px;
}
.colBox .colTitle{
	height:47px;
	background:url(../Images/box_title.jpg) no-repeat;
}
.colBox .titleGwxzs{
	height:47px;
	background:url(../Images/box_gwxzs.jpg) no-repeat;
}
.colBox .titleClpt{ /** 触类旁通 ***/
	height:35px;
	background:url(../Images/box_title_clpt.jpg) no-repeat;
}
.colBox .colContent{
	background:url(../Images/col_content_bg.gif) repeat-y;
	padding:5px;
	line-height:1.2em;
}
.colBox .colContent ul{
	margin:5px;
	padding:0px;
	list-style:url(../Images/list_ico.gif);
	line-height:22px;
}
.colBox .colContent ul li{
	margin-left:20px;
}
.colBox .colContent ul a{
	color:#000;
}
.colBox .colContent ul a:hover{
	color:#f00;
}
.colBox .colButtomCorner{
	background:url(../Images/col_buttom_bg.gif) no-repeat;
	height:8px;
}

/****** Guide *****/
.guide{
	margin-top:20px;
}
.guide1{
	float:left;
	width:33.5%;
	height:152px;
	background:url(../Images/guide_nav1.gif) no-repeat left;
	margin-left:-6px;
}
.guide2{
	float:left;
	width:33.5%;
	height:152px;
}
.guide2 img{
	border:0px;
}
.guide3{
	float:right;
	width:33%;
	height:152px;
	border:0px;
}
.guide3 img{
	border:0px;
	margin-left:-7px;
}
.guideList{
	margin-top:50px;
	margin-left:28px;
	width:160px;
	height:90px;
	line-height:1.5em;
	overflow:hidden;
}
.guideList a{
	color:#0e0b17;
	text-decoration:none;
}
.guideList a:hover{
	color:#F00;
	text-decoration:underline;
}
.guideContent{
	margin-top:80px;
	margin-left:28px;
	width:160px;
	height:90px;
	line-height:1.5em;
	overflow:hidden;
}


.text{
	padding:5px;
	line-height:2em;
}

/**** 底部 ****/
.footer{
	margin-top:20px;
	margin-bottom:30px;
	height:25px;
	line-height:25px;
	text-align:right;
	color:#FFF;
	background:url(../Images/footer.jpg) no-repeat;
}

/***  page css ***/

.pageTopMain{
	width:100%;
	padding:0;
	margin-top:20px;
}

.pageMenu{
	padding:0;
	margin:0;
	width:100%;
	height:47px;
}
.pageMenu ul{
	margin:0;
	padding:0;
	padding-left:20px;
	height:47px;
	list-style:none;
	clear:both;
	background:url(../Images/page_menu_bg.gif) no-repeat right !important;
	background:url(../Images/page_menu_bg.gif) no-repeat;
	font-weight:bold;
	font-size:11pt;
}
.pageMenu ul li{
	float:left;
	line-height:47px;
	padding:0 20px;
}
.pageMenu ul li a{
	color:#928ec0;
	margin-left:30px;
	padding-left:8px;
	padding-right:8px;
	text-decoration:none;
	display:inline-block;
}
.pageMenu ul li a:hover, .pageMenu ul li.on a{
	background:#928ec0;
	color:#FFF;
	padding-left:8px;
	padding-right:8px;
	text-decoration:none;
	display:inline-block;
}
.pageMenu ul li.on a:hover{
	color:#F00;
}

.pageFocus{
	margin:0px;
}
.pageFocus img{
	width:985px;
	border:0px;
}


.pageMidMain{
	padding-top:20px;
}
.pageColSiderA{
	float:left;
	width:120px;
}

.pageColMain{
	float:left;
	width:690px;
}

.pageColSiderB{
	float:right;
	width:175px;
}

.service{
}
.service .serviceTitle{
	height:50px;
}

.service .serviceNav{
	height:447px;
	background:url(../Images/page_nav_bg.jpg) no-repeat;
}
.service .serviceNav1{
	height:580px;
	background:url(../Images/page_nav_bg1.jpg) no-repeat;
}
.service .serviceNav2{
	height:580px;
	background:url(../Images/page_nav_bg2.jpg) no-repeat;
}
.service .serviceNav3{
	height:580px;
	background:url(../Images/page_nav_bg3.jpg) no-repeat;
}
.service .serviceNav4{
	height:580px;
	background:url(../Images/page_nav_bg4.jpg) no-repeat;
}
.service .serviceNav5{
	height:580px;
	background:url(../Images/page_nav_bg5.jpg) no-repeat;
}


.service ul{
	margin:0px;
	padding:10px 3px 10px 0px;
	list-style:none;
}
.service ul li{
	text-align:right;
}

.service ul li a{
	margin-top:5px;
	margin-bottom:5px;
	padding-right:20px;
	line-height:20px;
	display:block;
	text-decoration:none;
}

.service ul li a:hover, .service ul li.on{
	margin-top:5px;
	margin-bottom:5px;
	display:block;
	padding-right:20px;
	line-height:20px;
	background:url(../Images/page_nav_active.gif) no-repeat;
	text-decoration:none;
	color:#fff;
}

.pageBtmMain{
	margin-top:20px;
}

.pageColMainContent{
	margin-left:20px;
	margin-right:20px;
}
.navigation{
	color:#5a557e;
	line-height:30px;
}
.articleFontSize{
	text-align:right;
	padding-right:10px;
	color:#999;
	vertical-align:text-top;
}

.articleFontSize a{
	color:#000;
}
.articleFontSize a:hover{
	color:#F00;
}

.article{
}

.article .title{
	font-size:20px;
	font-weight:bold;
	color:#545454;
	padding:5px;
}

.article .content{
	margin-top:10px;
	line-height:25px;
	
}

.article .content p{
	margin-top:5px;
	margin-bottom:5px;
	letter-spacing:1.1pt;
}

.article .preNextLink{
	margin-top:10px;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #c6cae7;
}
.article .preNextLink span{
	background:url(../Images/prenext_ico.gif) no-repeat;
	text-indent:2em;
	display:block;
}

/*** list *****/
.article .list{
}

.article .list a{
	color:#524c7a;
}
.article .list a:hover{
	color:#F00;
}

.article .list dl{
	float:left;
	margin-left:6px;
	margin-bottom:10px;
	width:205px;
	height:115px;
	background:url(../Images/list_item_bg.gif) no-repeat;
}

.article .list dl dt, .article .list dl dt a{
	font-size:18px;
	font-weight:bold;
	font-family:微软雅黑, Georgia, "Times New Roman", Times, serif;
	padding-top:10px;
	padding-left:10px;
	color:#FFF;
	text-decoration:none;
}
.article .list dl dt a:hover{
	color:#F00;
	text-decoration:none;
}
.article .list dl dd{
	margin:0;
	padding-left:10px;
	padding-top:20px;
	padding-right:10px;
}

.article .list ul{
	margin-left:10px;
	margin-top:5px;
	padding:0;
	list-style:square;
	font-size:14px;
}

.article .list ul li{
	padding-top:8px;
	padding-bottom:3px;
	border:0;
	border-bottom:1px dashed #ddd;
	color:#999;
}

.article .list table{
	width:100%;
	border:0;
	border-collapse:collapse;
}
.article .list table th{
	line-height:20px;
	color:#524c7a;
	text-align:left;
	font-size:14px;
	padding-top:5px;
	padding-bottom:5px;
}
.article .list table td{
	padding-top:5px;
	padding-bottom:3px;
	border-bottom:dashed 1px #ccc;
}

/*** page ***/
.page 
{
	margin-top:5px;
	margin-bottom:5px;
	font-size: 14px;
}

.page a{
	color:#767397;
	border:solid 1px #ccc;
	padding-left:5px;
	padding-right:5px;
	height:25px;
	line-height:25px;
	text-decoration:none;
	display:inline-block;
	margin-right:3px;
}
.page a:hover{
	text-decoration:none;
	color:#F00;
	border:solid 1px #F00;
}

