body{font-size:12px;margin:0;padding:0;/*background:#fff;*/font:normal 12px Arial,sans-serif;}
h1,h2,h3,h4,h5,h6,ul,ol,li,form,p,dl,dt,dd,th,td,img,blockquote{margin:0;padding:0;border:0;}
a{color:#0193CC;text-decoration:none;}
a:hover{text-decoration:underline;}
input.text,
input.input,
textarea{border:1px solid #999;font-size:12px;}
li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
input.text{height:15px;padding:1px;margin:0;}
input.file{height:22px;border:1px solid #999;}
input.button,
button{line-height:135%;padding:0 4px;}
select,
input,
button{vertical-align:middle;}
.radio input,
.checkbox input,
input.radio,
input.checkbox{width:16px;height:16px;margin:0 3px 0 0;overflow:hidden;}
.radio label,
.checkbox label{padding-right:10px;}
button img{vertical-align:middle;}
br.clear{clear:both;height:1px;line-height:0;font-size:0;overflow:hidden;}

.blank20px{height:20px; line-height:20px;}

/*Validator*/
.valid{border:solid 1px green;color:green; height:22px;padding:2px;margin-left:5px;}
.invalid{border:solid 1px red;color:Red; height:22px;padding:2px;margin-left:5px;}
.errsummary{border:solid 1px red;color:Red; text-align:left;padding:2px;}

.confirm{padding-left:100px;font-size:18px;}
.error{color:Red;}
.search{padding:5px;}
.fi span.required{color:Red;}

/*登陆页*/
.login-text01{font-family:"宋体";font-size: 12px;color: #7F9DB9;text-decoration: none;}
a.login-text01:hover{font-family: "宋体";font-size: 12px;color: #FF0000;text-decoration: underline;}
.login-text02{font-family: "宋体";font-size: 13px;color: #7F9DB9;text-decoration: none;text-align: right;padding-top: 4px;}
.right-button01{font-family: "宋体";font-size: 12px;color: #174B73;height: 20px;width: 63px;background-image: url(../images/button03.gif);border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;}
.right-table03 {
	margin-top: 16px;
	margin-bottom: 20px;
}

/*导航栏*/
#mainmenu {
    background: url("../images/NavBG.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #E5F3F8 !important;
    color: #0193CC;
    font-size: 12px;
    height: 28px;
    margin-top: 2px;
    padding-left: 30px;
}
#mainmenu a {
    background: url("../images/NavLine.jpg") no-repeat scroll 100% 50% transparent;
    color: #0193CC;
    cursor: default;
    line-height: 24px;
    margin-right: 10px;
    padding: 4px 20px 0 0;
}
#mainmenu a.over {
    color: green;
}
#mainmenu .child {
    background-color: #EEF3F7;
    border: 1px solid #92B0DD;
    color: #000000;
    cursor: default;
    padding: 1px;
    width: 150px;
}
#mainmenu .child .item.over {
    background-color: Navy;
    color: #FFFFFF;
}
#mainmenu .child .item.over.hasChild {
    background-image: url("../images/pointer-over.jpg");
    background-position: right center;
    background-repeat: no-repeat;
}
#mainmenu .child .item {
    border: 1px solid #EEF3F7;
    height: 24px;
    padding-left: 20px;
    padding-top: 5px;
    vertical-align: middle;
}
#mainmenu .child .item.hasChild {
    background-image: url("../images/pointer.jpg");
    background-position: right center;
    background-repeat: no-repeat;
}
#mainmenu .child .item.checked {
    background-image: url("../images/checked.jpg");
    background-position: left center;
    background-repeat: no-repeat;
}
#mainmenu .child .item.selected {
    background-image: url("../images/selected.jpg");
    background-position: left center;
    background-repeat: no-repeat;
}
#mainmenu .separator {
    background-color: gray;
    height: 1px;
    margin-bottom: 3px;
    margin-left: 20px;
    margin-top: 3px;
    overflow: hidden;
}

/*树形菜单*/
#treemenu{
	margin:8px 0 0 10px;
}
#treemenu td
{
	padding-top:10px;
}
#treemenu a{
	color:#000;
	text-decoration:none;
}
#treemenu a:hover
{
	text-decoration:underline;
}
.selected {
    background-color:Silver;
}

/*右键菜单*/
.contextmenu {
    background-color: #F2FAFF;
    border: 1px solid gray;
    font-size: 12px;
    width: 140px;
}
.contextmenu .item {
    border: 1px solid #F2FAFF;
    height: 16px;
    margin: 1px;
    padding-left: 10px;
    padding-top: 5px;
    cursor:pointer;
}
.contextmenu .separator {
    background-color: gray;
    float: right;
    height: 1px;
    overflow: hidden;
    width: 128px;
}
.contextmenu .item.over {
    background-color: navy;
    border: 1px solid navy;
    color: #FFFFFF;
}

/*中间弹出层*/
#popupDiv {
    border: 0 none;
    display: none;
    padding: 0;
    position: fixed;
    z-index: 3;
}
#backgroundPopup {
    background: none repeat scroll 0 0 #000000;
    border: 0 none;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/*内容区*/
.pbd{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #B8E2EC;margin:0;position:relative;width:100%;}
.Location{background-image:url(../images/nav06.gif);height:30px;border-top:2px solid #B8C9D6;padding-left:20px;color:#0092CC;font-size:14px;font-weight:700;}
.Location ul li{float:left;padding:0 10px;}
.Location ul li.selected{background-color:LightSkyBlue;}
.Location ul li button,.Location ul li input.button{background:url("../images/button03.gif") no-repeat scroll 0 0 transparent;border:0 none;color:#174B73;cursor:pointer;margin:0 5px;font-size:12px;width:63px;height:20px;}
.nodatas{padding:10px 0 0 20px;}
.imglist{padding:10px 0 0 20px;}
.imglist li{float:left;height:134px;margin-left:42px;width:140px;text-align:left;margin:0;}
.imglistedit{padding-left:10px;cursor:pointer;}
.imglistbackground{background:url("../images/default/imgBG.jpg") no-repeat scroll 0 0 transparent;display:block;padding:15px;}
.imglistmove{cursor: move;}
.mbd-main{overflow:hidden;}

.mbd-main .datalist{overflow:auto;padding:5px 20px;}
.mbd-main .datalist ul li{padding-bottom: 5px;}
.mbd-main .datalist table{/*margin-bottom:20px;*/}
.mbd-main .datalist table th{text-align:right;font-weight:normal;}
.mbd-main .datalist table td{padding-bottom: 5px;}

.mbd-main .pt1{float:left;margin-right:-196px;width:100%;}
.mbd-main .pt1 .datalist{margin:0 196px 0 0; overflow:auto;position:relative;}
.mbd-main .pt1 .datalist .datas{/*margin-left:20px;*/}
.mbd-main .pt1 .datalist .datas .asc{background:url("../images/icons/sort_asc.gif") no-repeat scroll right center transparent;padding-left:15px;}
.mbd-main .pt1 .datalist .datas .desc{background:url("../images/icons/sort_desc.gif") no-repeat scroll right center transparent;padding-left:15px;}
.mbd-main .pt1 .datalist .datas .record{display:inline;float:left;}
.mbd-main .pt1 .datalist .datas .record strong{color:#FF0000;}
.mbd-main .pt1 .datalist .datas .pager{overflow:hidden;text-align:right;}
.mbd-main .pt1 .datalist .datas table{background:url("../images/nav06.gif") repeat-x scroll 0 0 transparent;border:1px solid #B0E8F8;width:100%;}
.mbd-main .pt1 .datalist .datas table th{border: 1px solid #B0E8F8;color:#0093CC;font-weight:100;height:28px;padding:0;text-align:center;}
.mbd-main .pt1 .datalist .datas table td{border: 1px solid #B0E8F8;height: 29px;line-height: 150%;padding: 0 9px;}
.mbd-main .pt1 .datalist .datas table .edit{padding:0;text-align:center;width:37px;}
.mbd-main .pt1 .datalist .datas table .even{background:none repeat scroll 0 0 #F0F7FB;}
.mbd-main .pt1 .datalist .datas table .hover{background:none repeat scroll 0 0 #FDD;}
.mbd-main .pt2{float: right;margin-bottom: 8px;margin-right: 8px;overflow: hidden;width: 168px;}
.operation{border: 1px solid #BDDFFE;margin-bottom: 10px !important;}
.operation .opr-mhd{background:url("../images/nav08.gif") repeat-x scroll 0 0 transparent;border-bottom: 1px solid #BDDFFE;color: #0093CC;font-size: 14px;line-height: 28px;padding-left: 10px;}
.operation .opr-mhd a{float:right;margin:10px 3px 0 0;}
.operation .opr-mbd{padding: 5px;}
.operation .opr-mbd ul{margin:8px 3px 8px 5px;padding:0;}
.operation .opr-mbd ul .name{display:block;border-bottom:1px solid #ccc;}
.operation .opr-mbd ul .template input{border:0;width:65px;cursor:pointer;margin-bottom:3px;overflow:visible;}
.operation .opr-mbd ul .template img{cursor:pointer;}
.operation .opr-mbd ul li{margin: 5px 0;}
.operation .opr-mbd ul li a{padding: 5px 0 5px 25px;}
.operation .opr-mbd ul li.new a{background:url("../images/icons/icon01.gif") no-repeat scroll 0 50% transparent;}
.operation .opr-mbd ul li.inOffice a{background:url(../images/icons/icon02.gif) no-repeat 0;}
.operation .opr-mbd ul li.outFile a{background:url(../images/icons/icon03.gif) no-repeat 0;}
.operation .opr-mbd ul li.checkFile a{background:url(../images/icons/icon04.gif) no-repeat 0;}
.operation .opr-mbd ul li.perFile a{background:url(../images/icons/icon05.gif) no-repeat 0;}
.operation .opr-mbd ul li.revFile a{background:url(../images/icons/icon_Revocation.gif) no-repeat 0;}
.operation .opr-mbd ul li.recFile a{background:url(../images/icons/recyle.gif) no-repeat 0;}
.operation .opr-mbd ul li.delFile a{background:url(../images/icons/icon06.gif) no-repeat 0;}
.operation .opr-mbd ul li.editFile a{background:url(../images/icons/icon04.gif) no-repeat 0;}
.operation .opr-mbd ul li.moveFile a{background:url(../images/icons/icon08.gif) no-repeat 0;}
.operation .opr-mbd ul li.copyFile a{background:url(../images/icons/icon10.gif) no-repeat 0;}
.operation .opr-mbd ul li.pointFile a{background:url(../images/icons/icon11.gif) no-repeat 0;}
.operation .opr-mbd ul li.downloadFile a{background:url(../images/icons/download.gif) no-repeat 0;}
.operation .opr-mbd ul li.lock a{background:url(../images/icons/icon10.gif) no-repeat 0;}
.operation .opr-mbd ul li.unlock a{background:url(../images/icons/icon11.gif) no-repeat 0;}
.operation .opr-mbd ul li.inXML a{background:url(../images/icons/icon10.gif) no-repeat 0;}
.operation .opr-mbd ul li.outXML{background:url(../images/icons/icon11.gif) no-repeat 0;}
.operation .opr-mbd td{line-height:25px;}
.mft-main{border:0 none;bottom:0;left:0;margin:0;overflow:hidden;padding:0;position:absolute;width:100%;}
.mft-main .guaid{background:url("../images/nav08.gif") repeat-x scroll 0 100% transparent;border:0 none;height:34px;margin:0;padding-left:10px;}
.mft-main .guaid ul li.selected{background:url("../images/mainGuaidhover.jpg") no-repeat scroll right 0 transparent;}
.mft-main .guaid ul li.selected a{background:url("../images/mainGuaidhover.jpg") no-repeat scroll 0 0 transparent;color:#005B7D;}
.mft-main .guaid ul li{float:left;}
.mft-main .guaid ul li a{color:#0093CC;display:block;float:left;font-weight:700;height:34px;line-height:34px;margin-right:10px;padding-left:10px;text-align:center;}
/*popup*/
.optionhead{height:30px;line-height:30px;margin-left:20px;}
.optionhead div{background-color:#ECECEC;border-left:1px solid #D8F5FF;border-right:1px solid #D8F5FF;border-top:1px solid #D8F5FF;bottom:1px;cursor:pointer;float:left;height:30px;line-height:30px;margin-left:2px;position:relative;text-align:center;width:60px;}
.optionhead .selected{background-color:#FFFFFF !important;border-bottom:medium none !important;position:relative;top:1px;}
.optionhead button,.optionhead input.button{background:url("../images/button03.gif") no-repeat scroll 0 0 transparent;border:0 none;color:#174B73;cursor:pointer;margin:0 5px;font-size:12px;width:63px;height:20px;}
.popmbd{border:1px solid #D8F5FF;margin: 0 0 20px 20px;width:440px;padding-bottom:20px;}
.popmbd table{margin-left:20px;line-height:200%;margin-top:10px;}
.popmbd .tree{height:350px;overflow:auto;}
.popmbd .tree table{line-height:120%;}
.popmbd .popworn{padding:0 22px;}
.popmbd .popworn div{height:220px;overflow:auto;width:363px;}
.popmbd .msg{color:Red;font-size:14px;height:100px;vertical-align:middle;}
.popmhd {
    background: url("../images/popupTbg.gif") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #B8E2EC;
    height: 28px;
}
.popmhd h3 {
    color: #0093CC;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    padding-left: 15px;    
}
.popmhd a {
    float:right;
    margin:4px 10px 0 0;
}
.popmft {
    text-align: center;
    margin-top: 10px; 
    padding-bottom: 10px;
}
.popmft button,.popmft input.button{background:url("../images/button03.gif") no-repeat scroll 0 0 transparent;border:0 none;color:#174B73;cursor:pointer;margin:0 5px;font-size:12px;width:63px;height:20px;}
.imageview li {
    border: 1px solid #CCCCCC;
    float: left;
    height: 100px;
    margin-right: 8px;
    margin-top: 8px;
    text-align: center;
    width: 100px;
}
.imageview li img {
    border: 0 solid #CCCCCC;
    height: 70px;
    margin-bottom: 4px;
    margin-top: 5px;
    width: 70px;
}
.imageview li button {
    background: none repeat scroll 0 50% transparent;
    border: 0 none;
    cursor:pointer;
    padding-bottom:7px;
}

/*文章页*/
.article .mbd-main{overflow:hidden;}
.article .mbd-main .pt1{float:left;margin-right:-278px;width:100%;}
.article .mbd-main .pt1 .datalist{margin:0 278px 0 0; overflow:auto;padding:5px 5px 5px 20px;}
.article .mbd-main .pt1 .datalist ul li{padding-bottom:5px;}
.article .mbd-main .pt2 {float: right;margin-bottom: 8px;margin-right: 8px;overflow: hidden;width: 250px;}
.mft button,.mft input.button{background:url("../images/button03.gif") no-repeat scroll 0 0 transparent;border:0 none;color:#174B73;cursor:pointer;margin:0 5px;font-size:12px;width:63px;height:20px;}

/*发布消息框*/
.popbox{background:url(../images/tishiBG.gif) no-repeat 0 0;font-size:12px}
.popbox .title{height:35px; line-height:35px;}
.popbox .title div{float:left;}
.popbox .title .close{float:right; width:19px; height:19px; background:url(../images/btn_close.gif) no-repeat 0 0; text-indent:-999em; display:inline; margin:7px 15px 0 0;}
.popbox .title .txt{padding-left:15px; font-weight:700; color:#535252; font-size:14px;}
.popbox .title .nav a{font-weight:700; font-family:"宋体";  margin:0 5px; color:#535252;}
.popbox .msg{clear:both; padding:15px 0 0 102px; color:#000080; line-height:24px;}
.popbox .msg .succ{color:#0000ff; font-weight:700;}
.popbox .msg a{color:#28a9ca;}

