<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="DbConnectionString" value="server=AOFEI-PC\SQLEXPRESS;database=anyweb;uid=aofei;pwd=aofei"></add>
    <add key="ShopHost" value="http://localhost:801"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<authentication mode="Windows"/>
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false">
      <controls>
        <add assembly="Studio" namespace="Studio.Web" tagPrefix="sw" />
      </controls>
    </pages>
	</system.web>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
</configuration>
